body {

    background-color:black;
    background-position: top;
    background-image:url("../img/trois-des-jeu-de-societe-photo-pixabay-1614955488.jpg") ;
    background-repeat: repeat;




} 
                    /* head */

.regle {
    display:none; 
    color: white;
    text-align: center;
    font-weight: bold;

}

#imgregleout {
    display:none; 

}


header {
    margin: 10px;
}

#afficheregle {

    display:flex; 
    flex-direction: row;
    justify-content: flex-end;


}

#imgregleout  , #imgregle {
    border:none;
    border-radius: 50px;
    background-color: #d5d5d5;

}


                    /* section */

.c1 {

    display:flex; 
    flex-direction:column ; 
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;

}

.players {
    display:flex;
    flex-direction: column;
}

 .name  {
    border-radius: 50px;
}



.divstart {
display :flex;
justify-content: center;
margin-top: 50px;



}
.imgstart {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 120px;
    display:none;


}

.vs {
    font-size: 50px;
    color: white;
}
.colum {
    display :flex; 
    justify-content:center

}
.colum strong {
    color: red;
    font-style: italic;
}

#btnValide {
    margin-top: 10px;
    border-radius: 10px;
}

            /* MAIN */


main {
display: none;
   
}


 /* MAIN */
 @import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
 
 /* NEW GAME */
 .nw-game{
     margin-top: 10px;
     cursor: pointer;
 }
 .new-game {
     display:flex;
     justify-content: center;
     text-align: center;
     margin-bottom: 3%;
     color: white;
 }
 
 
  /* COLONNE JOUEURS */
 
 .joueur {
     display:  flex;
     flex-direction: column;
     align-items: center;
     height: 80vh;


 }


 #namePlayeur2 ,  #namePlayeur1{
 
     margin-top: 10%;
     margin-bottom: auto;
     font-size: 80px;
     font-family : 'Festive', cursive ;
     color: white;
 
 }
 #global-p-2 , #global-p-1{
     margin-top: 10%;
     margin-bottom: auto;
     font-size: 90px;
     font-family : 'Rampart One', cursive ;
     color: white;
     
 }
 
 .current {
     display:  flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: red;
     padding: 20px;
     margin-top: auto;
     margin-bottom: 20%;
     box-shadow: -1px -1px 31px 10px rgba(0,0,0,0.7) inset;
    -webkit-box-shadow: -1px -1px 31px 10px rgba(0,0,0,0.7) inset;
    -moz-box-shadow: -1px -1px 31px 10px rgba(0,0,0,0.7) inset;
 }
 
 .current  p:first-of-type {
     font-size: 30px;
    }
    
    #current-p-1 , #current-p-2 {
    color: white;
    font-size: 60px
    }


.col-player-two {
    margin-bottom: 70px;
}
 
 /* COLONNE INSTRUCTION + DES   */
 
 
 .des-col {

     display:  flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 
 }
  
 .instruction-col {
    border-radius:20px ;
    display: flex ;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    color: black; 
    background-color: white;
    box-shadow: 0 0 8px 8px gray inset; 



 }

 #rool , #hold {
    cursor: pointer;
 }
 



